.app-navbar {
  background-color: rgb(255, 255, 208);
  padding: 20px;
}

li {
  color: rgb(107, 65, 156);
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding: 20px;
}

/* .active {
  background-color: rgb(140, 98, 180);
} */